.app__header {
  background-color: #ffea00;
  min-height: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 24px;
  color: rgb(0, 0, 0);
  padding: 8px;
  border-bottom: 2px solid black;
}

.app__loader {
  position: absolute;
}

.app__tutorial {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  margin: auto;
  right: 0;
}

.tutorial__icon {
  animation: changeBg 3s infinite;
  width: 100px;
  height: 100px;
}

.app__credits {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-size: 14px;
}

@keyframes changeBg {
  0% {
    background-image: url('./assets/hand-open.png');
  }
  10% {
    background-image: url('./assets/hand-open.png');
  }
  20% {
    background-image: url('./assets/hand-open.png');
  }
  30% {
    background-image: url('./assets/hand-open.png');
  }
  40% {
    background-image: url('./assets/hand-open.png');
  }
  50% {
    background-image: url('./assets/hand-close.png');
  }
  60% {
    background-image: url('./assets/hand-close.png');
  }
  70% {
    background-image: url('./assets/hand-close.png');
  }
  80% {
    background-image: url('./assets/hand-close.png');
  }
  90% {
    background-image: url('./assets/hand-close.png');
  }
  100% {
    background-image: url('./assets/hand-close.png');
  }
}
