video {
  opacity: 0.88;
  position: absolute;
  width: 20%;
  right: 0;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.monster {
  position: absolute;
  top: 25%;
  left: 0;
  width: 42vw;
  height: auto;
}

.sprite {
  width: 100%;
}
